* {
  margin: 0;
  padding: 0;
}
.location > h5 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 6px;
  font-size: 18px;
}
.location > p {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
}
.vertical-line {
  height: 55px;
  border-right: 2px solid #f2f2f2;
}
.search-div{
    padding: 0px 12px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}
.search-div>input{
    border: none;
    background-color: transparent;
    width: 40vw;
    height: 45px;
}
/* placeholder are sheudo selecter */
::placeholder{
    font-size: 14px;
    color: rgb(153, 153, 153);
}
/* when ever we want to override some important css property then we must use this !important */
.my-cart{
    background-color: #0c831f !important;
    font-size: 14px !important;
    color: #ffffff !important;
}
.my-catagory{
    width: 65%;
}
.my-container{
    margin: auto;
    width: 65%;
    overflow: scroll;

}
.my-list{
    white-space: nowrap;
}
.my-list>img{
    padding-inline: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.my-card{
    width: 179px;
    margin: 10px;
}
.card-time{
    justify-content: left;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
}
.card-title{
   justify-content: space-around;
    overscroll-behavior-block:contain;
    color: rgb(35, 35, 35);
    font-size: 14px;
    font-weight: 500;
}
.card-weight{
    color: #595c59;
}
.card-price{
    font-size: 12px;
    font-weight: 700;
    color: #1c1c1c;
}
.card-price>s{
    color: #595c59;
}
.catagory-section{
    white-space: nowrap;
    margin: auto;
    width: 65%;
}
.catagory-section-row{
    width: 100%;
    overflow-x: scroll;
}
footer{
    width: 65%;
    margin: auto;
}
.row3{
    color: #666666;
    font-size: 13px;
    text-align: justify;
    padding: 10px;
}
.social-item{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline: 10px;
}
.download-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-btn1{
    width: fit-content;
    padding: 5px;
    color: white;
    background-color: #213b50;
    margin-inline: 10px;
    border-radius: 7px;
    border: none;
}
.row2>p{
    font-weight: 300;
    color: #666666;
}
.row1{
    margin-top: 20px;
}
table{
    width: 100%;
}
.useful-links{
    flex: 2;
}
.catagories{
    flex:3;
}
td{
    padding: 4px;
    width: 33%;
    color: #666666;
    font-size: 15px;
}
.my-card>img{
    justify-content: center !important;
}
@media screen and (max-width: 768px) {
    nav, .row2, .row1{
        flex-direction: column !important;
    }
    .vertical-line, .hero-section>img{
        display: none !important;
    }
    .row1 > div, .my-container{
        margin-top: 20px !important;
    }
    .row2>p, .search-div, .nav-btn{
        width: 90% !important;
    }
    .row1>div>h4{
        text-align: center !important;
        justify-content: center !important;
    }
    .td{
        text-align: center !important;
    }
    .social{
        margin-top: 10px !important;
    }
}
